.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#calculator {
    margin-top: 30px;
}

#calculator .row {
    margin-bottom: 30px;
}

#display {
    text-align: right;
    font-size: 2rem;
}